#extra-vars-table-group{
  max-width: 960px;
}
#extra-vars-table-group table td:first-child{
  width: 200px;
}
#extra-vars-table-group table td:first-child + td{
  width: 400px;
}
.extra-vars-actions{
  margin: 10px 0;
}
.extra-vars-table-wrap + .extra-vars-table-wrap{
  border-top: 2px dotted #ccc;
}

.extra-vars-selection {
  margin: 0 0 5px;
  background: #e1e1e1;
  border: none;
  padding: 5px;
  width: 270px;
  text-align: center;
  cursor: cell;
}
.extra-vars-help-label {
  display: inline-block;
  width: 60px;
}